.central{    
	margin: 0 auto;
  max-width: 900px;
  width: 92%;
}

.central a{    
  display: block;
  float: left;
  margin: 23px auto 20px 38px;
  text-decoration: none;
  width: 26%;
}

.central .item{
	background:white;
	height:300px;
  color:black;
  font-size:1.2em;
  line-height:20px;
	padding:5px;	
}
.buy-button{
	width:49%;
	float:left;
	position:static;
	margin-left:50%;
  margin-top:10px;
}
.price{
  position: static;
	margin-left:0px;
	width:51%;
	font-size: 1.3em;
}

.row{margin:20px auto auto 0px;}
.simple-desc{
	font-size:0.8em;
	color:grey;
	min-height:60px;
}

#content .center .in p {margin:0 auto 10px 0px}
.tovar-name{min-height: 63px;margin-top:10px;}
